@import "./scss/mixins";
@import "./scss/colors";

.donors {
  width: 116rem;
  height: 50.2rem;
}

.inner {
  @include container;
}

.items {
  @include col3;
}

.list {
  display: flex;
  flex-wrap: wrap;
}


